# Ignore Mac system files
.terraform
*.tfvars
*.tfstate
*.tfstate.*
**/.terraform/*
.terraform.lock.hcl
.terraform*
.terraform.*

# Ignore node_modules folder
provider

# Ignore all text files
provider.tf